body {
	/*background-color: #153;*/
	background-color: #375;
	color: #ccc;
	font-family: 'Slabo 27px', serif;
	overflow: hidden;
}

#menu-disconnect {
	font-size: 150%;
}

div #menu {
	position: absolute;
	top: .7em;
	left: 1em;
}

div #disconnect {
	position: absolute;
	top: .7em;
	right: 1em;
}

#select-file-container, #title {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#select-file {
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0; 
	top: 0;
	font-size: 10px;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: none;
}

span.glyphicon-play-circle {
	font-size: 2300%;
	top: 0.01em;
}

#title, h1, h2{
	top: 20%;
	font-size: 60px;
}

#queue {
	text-align: right;
	position: absolute;
	right: 5%;
	top: 30%;
}

#playback-buttons {
	position: absolute;
	top: 80%;
	width: 100%;
	font-size: 175%;
}

#playback-buttons #back30 {
	text-align: right;
}

#playback-buttons #playPause {
	text-align: center;
}

#playback-buttons #forward30 {
	text-align: left;
}

#status {
	position: absolute;
	top: 90%;
	width: 100%;
}

#status #currentTime {
	text-align: right;
}

input[type=range] {
	-webkit-appearance: none;
	width: 66.6%;
	background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
	height: 5px;
	background: #ccc;
	border: none;
	border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #fff;
	margin-top: -4.5px;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ccc;
}