<!DOCTYPE html>
<html ng-app="codycast" >
<head>
    <meta charset='utf-8' name='viewport' content='width=device-width, height=device-height, initial-scale=1'>
	<title>Codycast</title>
	<!--CSS-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!--JS-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js" type="text/javascript"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="http://www.gstatic.com/cv/js/sender/v1/cast_sender.js" type="text/javascript"></script>
	<script src="js/app.js"></script>
</head>
<body ng-controller="pageController" style="background-color: #777">

		<div id="menu">menu</div>
		<br /><br />

		<div id="title">
			<h1>{{pageState.title}}</h1>
		</div>
		<br /><br />

		<div id="select">
			<div ng-if='!state.selected'>
				<!-- <input id="selectFile" type="file" accept="video/*" ng-if="!state.selected" ng-model="selectedVideo" ng-click="addVideoToQueue()" /> -->
				<input id="selectFile" type="file" accept="video/*" ng-if="!state.selected" ng-model="selectedVideo" onchange="angular.element(this).scope().addVideoToQueue(this)" />
			</div>
		</div>
		<br /><br />

		<div id="playback">playback</div>
		<br /><br />

		<div id="queue">
			<div ng-if='state.selected'>queue</div>
		</div>

</body>
</html>